//- Вторая логическая секция
.section_02#id1
	.container
		p.txt-style__red
			|NEW DESING
		p.txt-style__h
			|There is no other platforms
		span.txt-style__h
			|for you as like 
		span.txt-style__h.txt-style__recolor
			|....
		p.txt-style__p
			|Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis
		p.txt-style__p
			|vestibulum. Donec id elit non mi porta gravida at eget metus. Curabitur
		p.txt-style__p
			| blandit tempus porttitor. Etiam porta sem malesuada magna mollis
		p.txt-style__p
			| euismod. Vestibulum id ligula porta felis euismod semper.
		p.txt-style__p
			| &nbsp;
		p.txt-style__p
			|Donec sed odio dui. Aenean lacinia bibendum nulla sed consectetur. Donec
		p.txt-style__p
			| ullamcorper nulla non metus auctor fringilla. Aenean lacinia bibendum
		p.txt-style__p
			| nulla sed consectetur. Nulla vitae elit libero, a pharetra augue.
// end .section_02