//- Третия логическая секция
.section_03#id2
	.container
		p.txt-style__red
			|NEW FEATURES
		p.txt-style__h
			|Some awesone features
		.row
			.col-sm-4
				img.section_03__icon(src="images/08_03gr1.png", alt="")
				p.txt-style__hh
					|Some awesone features
				p.txt-style__p
					|Donec sed odio dui. Aenean lacinia bibendum nulla sed consectetur. Nulla vitae elit libero, a pharetra augue.
			.col-sm-4
				img.section_03__icon(src="images/07_03gr2.png", alt="")
				p.txt-style__hh
					|Some awesone features
				p.txt-style__p
					|Donec sed odio dui. Aenean lacinia bibendum nulla sed consectetur. Nulla vitae elit libero, a pharetra augue.
			.col-sm-4
				img.section_03__icon(src="images/06_03gr3.png", alt="")
				p.txt-style__hh
					|Some awesone features
				p.txt-style__p
					|Donec sed odio dui. Aenean lacinia bibendum nulla sed consectetur. Nulla vitae elit libero, a pharetra augue.
// end .section_03