//- Четвертая логическая секция
.description_04#id3
	.container
		.row
			.col-sm-6
				img.description_04__image(src="images/09_mkb.png", alt="")
			.col-sm-6
				p.txt-style__red
					|NEW DESING
				p.txt-style__h
					|Resposive design, just need your tap 
					span.txt-style__h.txt-style__recolor
						|....
				p.txt-style__p
					|Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Curabitur blandit tempus porttitor. Etiasem malesuada magn. Vestibulum felis euismod semper.
// end .description_04