//- Пятая логическая секция
.clients_05#id4
	.container
		.row
			.col-sm-4
				img.clients_05__face(src="images/11_face.png", alt="")
				p.clients_05__txt-h 
					|Jonathon Doe
				p.clients_05__txt-r 
					|Co Founder
				p.clients_05__txt-p 
					|“Pellentesque ornare sem lacinia quam. Donec id elit non mi porta gravida at eget metus. Curabitur blandit tempus porttitor. Etiasem malesuada magn”
			.col-sm-4
				img.clients_05__face(src="images/11_face.png", alt="")
				p.clients_05__txt-h 
					|Jonathon Doe
				p.clients_05__txt-r 
					|Co Founder
				p.clients_05__txt-p 
					|“Pellentesque ornare sem lacinia quam. Donec id elit non mi porta gravida at eget metus. Curabitur blandit tempus porttitor. Etiasem malesuada magn”
			.col-sm-4
				img.clients_05__face(src="images/11_face.png", alt="")
				p.clients_05__txt-h 
					|Jonathon Doe
				p.clients_05__txt-r 
					|Co Founder
				p.clients_05__txt-p 
					|“Pellentesque ornare sem lacinia quam. Donec id elit non mi porta gravida at eget metus. Curabitur blandit tempus porttitor. Etiasem malesuada magn”
		.row
			.col-sm-12
				.clients_05__logo
					img(src="images/partner-logo-1.png", alt="")
					img(src="images/partner-logo-2.png", alt="")
					img(src="images/partner-logo-3.png", alt="")
					img(src="images/partner-logo-4.png", alt="")
					img(src="images/partner-logo-5.png", alt="")

	img.header__background(src="images/10_cls.jpg", alt="")
// end .clients_05