//- Седьмая логическая секция
.try-now_07#id5
	p.txt-style__red
		|NEW FEATURES
	p.txt-style__h.try-now_07__h
		|Over 1000 designers are using ...
	.container
		.row
			.col-sm-3
				input.try-now_07__input(type="text" value="FULL NAME")
			.col-sm-3
				input.try-now_07__input(type="text" value="YOUR EMAIL")
			.col-sm-3
				input.try-now_07__input(type="text" value="PASSWORD")
			.col-sm-3
				button.header__try-btn.try-now_07__btn
					|TRY NOW
	p.txt-style__p.try-now_07__p
		| By Signing up you agree to our 
		a(href="#")
			|terms & Services.
// end .try-now_07