//- Конец
footer.footer
	.container
		.row
			.col-sm-3
				p.footer__logo
					|Start
					span
						|Ex
				p.footer__link
					|Aenean lacinia bibendum nulla sed
				p.footer__link
					|consectetur. Aenean eu leo quam. 
				p.footer__link
					|USA &  CAN: 1-888-123-4567
				p.footer__link
					|Address: 34 Brokel Rd. NY
			.col-sm-2.hidden
				p.txt-style__hh.footer__hh
					|Support
				a.footer__link(href="#")
					|Help Center
				a.footer__link(href="#")
					|Get Started
				a.footer__link(href="#")
					|Contact US
			.col-sm-2.hidden
				p.txt-style__hh.footer__hh
					|About US
				a.footer__link(href="#")
					|About Us
				a.footer__link(href="#")
					|Terms of Use
				a.footer__link(href="#")
					|Privacy Policy
			.col-sm-3
				p.txt-style__hh.footer__hh
					|Get Newsletter
				.footer__input
					input(type="TEXT", value="EMAIL")
					button
						span.fontawesome__solid &#61912;
				.footer__social
					a(href="#")
						span.fontawesome__solid &#62516;
					a(href="#")
						span.fontawesome__brand &#61653;
					a(href="#")
						span.fontawesome__brand &#62366;
					a(href="#")
						span.fontawesome__brand &#61593;
			.col-sm-2
// end footer