extends pug/base

append vars
	//- ...

block content
	.container-fluid
		include pug/01_header.pug
		include pug/02_section.pug
		include pug/03_section.pug
		include pug/04_description.pug
		include pug/05_clients.pug
		include pug/06_browser.pug
		include pug/07_try-now.pug
		include pug/08_footer.pug

	//- ...
