// stylelint-disable scss/dollar-variable-empty-line-before

// COLORS

$bg-wh: #ffffff;
$bg-sl: #f6f5f3;
$bg-rd: #fb8686;
$try-now: #323969;
$ct-r: #ff6d6d;
$ct-h: #282828;
$ct-p: #717171;

// FONTS
$font-family-exo2: "exo2";
$font-family-lato: "Lato";
$font-awesome-reg: "fa-regular-400";
$font-awesome-brd: "fa-brands-400";
$font-awesome-sol: "fa-solid-900";
